/************************
Modify Muhammad Farooq
01: AlQalamQuranMajeed
DEVELOPER:ABDUL MAJEED KHAN 
************************/
@font-face {
	font-family: "AlQalamQuranMajeed";
	src: url("font/Al_Qalam_2.44e7b69.eot");
	src: url("font/Al_Qalam_2.44e7b69.eot#iefix") format("embedded-opentype"),
	url("font/Al_Qalam_2.44e7b69.woff") format("woff"),
	url("font/Al_Qalam_2.44e7b69.woff2") format("woff2"),
	url("font/Al_Qalam_2.44e7b69.ttf") format("truetype"),
	url("font/Al_Qalam_2.44e7b69.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
/************************
02: Quran Sura Titles
DEVELOPER: Muhammad Farooq
************************/
@font-face {
	font-family: "sura_title";
	src: url("font/QuranTitles.192cecd.eot");
	src: url("font/QuranTitles.192cecd.eot#iefix") format("embedded-opentype"),
	url("font/QuranTitles.192cecd.woff") format("woff"),
	url("font/QuranTitles.192cecd.woff2") format("woff2"),
	url("font/QuranTitles.192cecd.ttf") format("truetype"),
	url("font/QuranTitles.192cecd.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

/************************
03: Quran Surah Name 
DEVELOPER: elharrakfonts.com
************************/
@font-face {
	font-family: "Qsurah_name";
	src:url("font/Quran karim 114.woff2") format("woff2"),
	url("font/Quran karim 114.woff") format("woff"),
	url("font/Quran karim 114.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
} 
/************************
04: Surah Names
DEVELOPER: Urdu Lovers
************************/
@font-face {
    font-family: "Urdupk";
    src: url(font/JNNKasheeda.woff2) format("woff2");
	src: url("font/JNNKasheeda.ttf") format("truetype"),
	url(font/JNNKasheeda.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} 
/************************
05: Basmalah
DEVELOPER:King Fahd Glorious Quran Printing Complex
************************/
@font-face {
    font-family: Basmalah;
    src: src: url("font/Basmalah.eot");
	src: url("font/Basmalah.eot#iefix") format("embedded-opentype"),
	url("font/Basmalah.otf") format("opentype"),
	url(font/Basmalah.woff2) format("woff2"),
	url(font/Basmalah.woff) format("woff");
	font-weight: 600;
    font-style: normal;
    font-display: swap;
} 
/************************
06: Arabic Mushaf Al-Quran 
DEVELOPER:Lajnah Pentashihan M Zamroni Ahbab
************************/
@font-face {
	font-family: "Arabic";
	src: url("font/Arabic.eot");
	src: url("font/Arabic.eot#iefix") format("embedded-opentype"),
	url("font/Arabic.woff2") format("woff2"),
	url("font/Arabic.woff") format("woff"),
    url("font/Arabic.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
} 
/************************
07: Arabic Quran script 
DEVELOPER:Lajnah Quran script
************************/
@font-face {
  font-family: "surah-name-v4-icon";
  src: url("font/surah-name-v4.woff2") format("woff2");
    url("font/surah-name-v4.ttf") format("truetype"),
    url("font/surah-name-v4.woff") format("woff");
  font-display: swap;
}
